

#header {
    margin: 0 auto;
    min-width: 960px;
}

#header-title {
    color: rgb(32, 46, 64);
    font-size: 40px;
    font-weight: bold;
    transform: translate(25%, 50%);
    float: left;
}

#header-list-items {
    width: 300px;
    list-style: none;
    float: right;
    display: flex;
    cursor: pointer;
    transform: translate(-35%, 50%);
    font-size: 20px;
}

.option-list-items {
    padding: 10px;
    border-radius: 5px;
    margin-right: 20px;
    cursor: pointer;
}

.option-list-items:hover {
    background-color: rgb(211, 211, 211, .2);
}

#sudoku-content {
    height: 680px;
    display: grid;
    border-top: 2px solid rgba(100, 63, 150, .1);
}

#content-game {
    margin-top: 70px;
    align-self: center;
    justify-self: center;


#deleteBtn {
    width: 260px;
    height: 50px;
    background-color: rgb(255, 12, 12);
    color: white;
}

.numpadButtons:hover {
    background-color: rgb(128, 128, 127, .4);
    color: white;
}

#deleteBtn:hover {
    color: black;
}

.border-top {
    border-top: 2px solid black;
}

.border-right {
    border-right: 2px solid black;
}

.border-bottom {
    border-bottom: 2px solid black;
}

.border-left {
    border-left: 2px solid black;
}

.entered-numbers {
    color: rgb(64, 155, 240);
}

.cell-color {
    background-color: rgb(194, 225, 253);
}

#article {
    padding-left: 5px;
    padding-right: 60px;
    display: grid;
    width: 880px;
    height: 500px;
    margin: 0 auto;
    color: rgb(32, 46, 64);
    font-size: 20px;
    font-weight: bold;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    color: black;
    margin: 20px 0px 20px 0px;
    letter-spacing: 1px;
    line-height: 20px;
    word-spacing: 5px;
}

#footer {
    background-color: rgb(32, 46, 64);
    height: 140px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#footer-info {
    width: 840px;
    height: 50px;
    justify-content: center;
    align-items: center;
    color: white;
}

#footer-main-name {
    transform: translate(-2%, 50%);
}
