#sudoku-content {
    height: 600px;
    display: grid;
    border-top: 2px solid rgba(100, 63, 150, .1);
    padding-top: 40px;
    padding-bottom: 35px;
}

#content-game {
    align-self: center;
    justify-self: center;
    height: 500px;
}

#board {
    float: left;
    width: 526px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
}

.squares {
    width: 56px;
    height: 56px;
    border: 1px solid rgb(169, 169, 169, .6);
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.displayPuzzleSquares {
    background-color: rgb(211, 211, 211, .2);
}

.border-top {
    border-top: 2px solid black;
}

.border-right {
    border-right: 2px solid black;
}

.border-bottom {
    border-bottom: 2px solid black;
}

.border-left {
    border-left: 2px solid black;
}

.entered-numbers {
    color: rgb(64, 155, 240);
}

.cell-color {
    background-color: rgb(194, 225, 253);
}
