#header {
    display: flex;
    height: 85px;
}

#select-bar {
    margin: 0 auto;
    min-width: 960px;
    height: 100px;
}

#header-title {
    color: rgb(32, 46, 64);
    font-size: 40px;
    font-weight: bold;
    transform: translate(27%, 50%);
    float: left;
}
